@import url('https://fonts.googleapis.com/css?family=Russo+One');

* {
    margin: 0;
    padding: 0;
}

:root {
    --background-base: #74bebe;
    --dark-accent: #224b4b;
    --light-accent: #2cda9d;
    --default-border: 1px solid black;
    --default-shadow: 1px 1px 10px 2px darken(var(--background-base), 20%);
    font-size: 16px;
    font-family: 'Russo One';
}

body {
    background-color: var(--background-base);
}