@import url('https://fonts.googleapis.com/css?family=Russo+One');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-base: #74bebe;
    --dark-accent: #439494;
    --light-accent: #d8ece9;
    --default-border: 1px solid black;
    --default-shadow: 5px 5px 10px 10px var(--dark-accent);
    font-size: 16px;
    font-family: sans-serif;
}

body {
    background-color: var(--background-base);
}